#calendarDiv{
    margin-left: 10px;
}

#calendar_main{
    padding-bottom: 30px;
}

#calendar_footer{
    display: flex;
    padding-bottom: 50px;
}

.keyWrapper{
    position: relative;
    z-index: 1;
}

#keyboardBtn{
    border-radius: 60px;
    height: 50px;
    width: 50px;
    border: none;
    background: none;
}

#keyboardBtn:hover{
    background-color: rgba(112, 112, 112, 0.3);
}

#keyboardImg{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#keyboard_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#keyboardModal{
    position: fixed;
    width: 500px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
    display: grid;
    border-radius: 30px;
}

#keyboard_close{
    margin-left: auto;
    cursor: pointer;
    text-decoration: underline;
    height: 30px;
    width: 180px;
    white-space: nowrap;
    font-size: 20px;
    background: none;
    border: none;
    font-weight: bold;
    
}

#keyboard_close:hover{
    background-color: rgba(112, 112, 112, 0.3);
}

#key_int_div{
    display: grid;
    margin-left: 20px;
}

#key_title{
    font-size: 30px;
}

#key_bullets{
    font-size: 20px;
    color: grey;
    display: inline-flex;
    margin-bottom: 20px;
}

#key_short{
    background-color: lightgray;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 90px;
}

#key_short1{
    background-color: lightgray;
    height: 20px;
    width: 80px;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

#keyboard_container{
    margin-right: 220px;
}

#clearBtn{
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 20px;
}

#clearBtn:hover{
    background-color: rgba(112, 112, 112, 0.3);
}

/* EXP Calendar settings */

.exp_calendar-container{
    display: flex;
    padding: 20px;
}

.exp_right{
    margin-right: 40px;
}

.exp_month_nav{
    display: flex;
}

#navBtn{
   border: none;
   background: none;
   font-size: 20px;
}

/* Stay Calendar settings */

.stay_calendar-container{
    display: flex;
    padding: 20px;
    margin-top: 70px;
    margin-left: 45px;
}

/* React default calendar settings */

.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now {
    background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
  